@import 'normalize.scss';
@import 'reset.scss';

:root {
  --red-color: #b11d2e;
  --white-color: #ffffff;
  --black-color: #000000;
  --font-family: 'Montserrat', sans-serif;
}

body {
  position: relative;
  background-color: var(--red-color);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.snow {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.aroken-santa {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40vw;       
  height: auto;
}

.btn {
  position: fixed;
  top: 20px;
  right: 20px;

  .button-audio {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--white-color);

    & svg {
      position: absolute;
      top: 50%;
      right: 50%;
      width: 25px;
      height: 25px;
      transform: translate(50%, -50%);
    }
  }

  .button-audio-on {
    display: none;
  }
  
  .button-audio-off {
    display: block;
  }
  
  .button-audio.active .button-audio-on {
    display: block;
  }
  
  .button-audio.active .button-audio-off {
    display: none;
  }
  
}