@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');




@import 'normalize.scss';
@import 'reset.scss';

:root {
  --red-color: #b11d2e;
  --white-color: #ffffff;
  --black-color: #000000;
  --font-family: 'Montserrat', sans-serif;
}

* {
  // font-family: "Caveat", cursive;
  font-family: "Neucha", cursive;
}

body {
  position: relative;
  // background-color: var(--red-color);
  background: url('../image/bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.snow {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: 4;
}

.aroken-santa {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;
  width: 45vw;       
  height: auto;
  animation: sway 3s ease-in-out infinite;
  transform-origin: bottom center; /* точка вращения у ног */

  @keyframes sway {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(5deg); }   /* наклон вправо */
    50%  { transform: rotate(0deg); }   /* центр */
    75%  { transform: rotate(-5deg); }  /* наклон влево */
    100% { transform: rotate(0deg); }   /* центр */
  }

  @media (max-width: 1500px) {
    right: -50px;
  }

  @media (max-width: 1000px) {
    right: 250px;   
    width: 40vw;   
  }

  @media (max-width: 800px) {
    width: 55vw;
    right: 200px;
  }

  @media (max-width: 500px) {
    width: 100vw;
    right: 0;
  }
}

.btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 5;

  @media (max-width: 500px) {
    top: 10px;
    right: 10px;
  }

  .button-audio {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--white-color);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.568);

  @media (max-width: 500px) {
     width: 40px;
     height: 40px;
  }

    & svg {
      position: absolute;
      top: 50%;
      right: 50%;
      width: 25px;
      height: 25px;
      transform: translate(50%, -50%);

      @media (max-width: 500px) {
        width: 20px;
        height: 20px;
      }
    }
  }

  .button-audio-on {
    display: none;
  }
  
  .button-audio-off {
    display: block;
  }
  
  .button-audio.active .button-audio-on {
    display: block;
  }
  
  .button-audio.active .button-audio-off {
    display: none;
  }
  
}

.inner {
  width: 100%;
  margin-top: 50px;

  @media (max-width: 800px) {
    margin-top: 90px;
  }

  @media (max-width: 500px) {
    margin-top: 20px;
  }
}

.letter {
  background: #fff;
  border-radius: 10px;
  max-width: 750px;
  padding: 30px;
  box-shadow: 0 0 10px 4px rgba(0,0,0,0.5);
  transform: rotate(-1deg);
  margin: 0 20px;

  @media (max-width: 1500px) {
    max-width: 650px;
  }

  @media (max-width: 800px) {
    max-width: 550px;
  }

  @media (max-width: 500px) {
    padding: 30px 20px;
    overflow-y: scroll;
  }
}

.letter-body h1 {
  font-size: 40px;
  color: #b40000;
  margin-bottom: 15px;
  font-weight: 700;
  margin: 0 0 15px;

  @media (max-width: 800px) {
    font-size: 33px;
  }

  @media (max-width: 500px) {
    font-size: 28px;
  }
}

.letter-body h2 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 700;

  @media (max-width: 800px) {
    font-size: 21px;
  }

  @media (max-width: 500px) {
    font-size: 18px;
  }
}

.letter-body p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 15px;

  @media (max-width: 800px) {
    font-size: 16px;
  }

  @media (max-width: 500px) {
    font-size: 14px;
  }
}

.letter-list td {
  font-size: 20px;
  line-height: 1.5;
  padding-bottom: 10px;

  @media (max-width: 800px) {
    font-size: 16px;
  }

  @media (max-width: 500px) {
    font-size: 14px;
  }
}

.letter-footer {
  padding-top: 60px;
  text-align: right;

  @media (max-width: 800px) {
    padding-top: 40px;
  }
}

.letter-footer h2 {
  font-size: 22px;
  font-style: italic;
  font-weight: 700;

  @media (max-width: 800px) {
    font-size: 18px;
  }

  @media (max-width: 500px) {
    font-size: 16px;
  }
}
